html {
  background-color: #000;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

#bandas {
  list-style: inside square;
  font-size: 20px;
  background: white;
  width: 500px;
  margin: auto;
  padding: 0;
}

#bandas li {
  border-bottom: 1px solid #efefef;
  padding: 20px;
}

#bandas li:last-child {
  border-bottom: 0;
}

a {
  color: #ffc600;
  text-decoration: none;
}