html {
  background-color: #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  color: #ffff;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

#photo {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}
