html {
  background-color: #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  color: #ffff;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

#photo {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

/* responsividade */
@media (max-width: 800px) {
  #controls {
    flex-direction: column;
  }

  #photo {
    margin: 0;
    padding: 0;
  }

  #image {
    margin: 0;
    padding: 0;
    transform: scale(0.6);
  }
}
