body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #000;
}

h1 {
  margin-bottom: 30px;
  font-weight: bold;
  color: #ffff;
}

.drumkit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 600px;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #373737;
  border: 3px solid #ffff;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.key:hover {
  background-color: #000;
}

.key.pressed {
  background-color: #000;
}

kbd {
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
  color: #fff;
}

.sound {
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  color: orange;
}
