html {
  background-color: #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

#frame {
  width: 500px;
  height: 500px;
  border: 15px solid #ffff;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horas {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.hora {
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  list-style-type: none;
  padding: 0;
  margin: 0;
  transform-origin: bottom center;
}

.hora1 {
  transform: rotate(30deg) translate(0%, -230px) rotate(-30deg);
}

.hora2 {
  transform: rotate(60deg) translate(0%, -230px) rotate(-60deg);
}

.hora3 {
  transform: rotate(90deg) translate(0%, -230px) rotate(-90deg);
}

.hora4 {
  transform: rotate(120deg) translate(0%, -230px) rotate(-120deg);
}

.hora5 {
  transform: rotate(150deg) translate(0%, -230px) rotate(-150deg);
}

.hora6 {
  transform: rotate(180deg) translate(0%, -230px) rotate(-180deg);
}

.hora7 {
  transform: rotate(210deg) translate(0%, -230px) rotate(-210deg);
}

.hora8 {
  transform: rotate(240deg) translate(0%, -230px) rotate(-240deg);
}

.hora9 {
  transform: rotate(270deg) translate(0%, -230px) rotate(-270deg);
}

.hora10 {
  transform: rotate(300deg) translate(0%, -230px) rotate(-300deg);
}

.hora11 {
  transform: rotate(330deg) translate(0%, -230px) rotate(-330deg);
}

.hora12 {
  transform: rotate(0deg) translate(0%, -230px) rotate(0deg);
}

.ponteiros-centro {
  width: 25px;
  height: 25px;
  background-color: #ffff;
  border-radius: 50%;
}

.ponteiro-horas {
  position: absolute;
  width: 2px;
  height: 100px;
  background-color: #ffff;
  left: calc(50% - 1px);
  top: calc(50% - 100px);
  transform-origin: bottom center;
}

.ponteiro-minutos {
  position: absolute;
  width: 2px;
  height: 180px;
  background-color: #ffff;
  left: calc(50% - 1px);
  top: calc(50% - 180px);
  transform-origin: bottom center;
}

.ponteiro-segundos {
  position: absolute;
  width: 2px;
  height: 150px;
  background-color: #ff0000;
  left: calc(50% - 1px);
  top: calc(50% - 150px);
  transform-origin: bottom center;
}

/* responsividade */
@media (max-width: 800px) {
  #frame {
    width: 300px;
    height: 300px;
    border-width: 7.5px;
  }

  .hora {
    font-size: 16px;
  }

  .hora1 {
    transform: rotate(30deg) translate(0%, -130px) rotate(-30deg);
  }

  .hora2 {
    transform: rotate(60deg) translate(0%, -130px) rotate(-60deg);
  }

  .hora3 {
    transform: rotate(90deg) translate(0%, -130px) rotate(-90deg);
  }

  .hora4 {
    transform: rotate(120deg) translate(0%, -130px) rotate(-120deg);
  }

  .hora5 {
    transform: rotate(150deg) translate(0%, -130px) rotate(-150deg);
  }

  .hora6 {
    transform: rotate(180deg) translate(0%, -130px) rotate(-180deg);
  }

  .hora7 {
    transform: rotate(210deg) translate(0%, -130px) rotate(-210deg);
  }

  .hora8 {
    transform: rotate(240deg) translate(0%, -130px) rotate(-240deg);
  }

  .hora9 {
    transform: rotate(270deg) translate(0%, -130px) rotate(-270deg);
  }

  .hora10 {
    transform: rotate(300deg) translate(0%, -130px) rotate(-300deg);
  }

  .hora11 {
    transform: rotate(330deg) translate(0%, -130px) rotate(-330deg);
  }

  .hora12 {
    transform: rotate(0deg) translate(0%, -130px) rotate(0deg);
  }

  .ponteiros-centro {
    width: 10px;
    height: 10px;
  }

  .ponteiro-horas {
    height: 50px;
    top: calc(50% - 50px);
  }

  .ponteiro-minutos {
    height: 90px;
    top: calc(50% - 90px);
  }

  .ponteiro-segundos {
    height: 75px;
    top: calc(50% - 75px);
  }
}
