body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}

.wrapper {
  width: 850px;
  display: flex;
}

.speed {
  background: #efefef;
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.speed-bar {
  width: 100%;
  background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: #ffff;
  height: 16.3%;
}

/* responsividade */
@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
    max-width: 100%;
  }

  .flex {
    max-width: 100%;
  }

  .speed-bar {
    background: linear-gradient(90deg, #2376ae 0%, #c16ecf 100%);
    width: 16.3%;
  }
}
